# University Performance Predictor 

Given a student's previous performance metrics, predict their performance at an anonymous University in Colombia.

## Prepare Data
Load and inspect two anonymized datasets:
- `icfes_combined_anonymized.csv`: standardized test scores (ICFES).
- `student_info_anonymized.csv`: student academic performance at the university.

For each student, we have their national test score for 'ICFES' (Colombian counterpart of the SAT), the high school they graduated (and their percentile in that highschool, being a relationship between their test score and their school historic performance on the test), their admission way to the University (high school grades / ICFES score / transfer from another University, etc), their undergraduate major, overall University GPA, overall hours taken, overall hours dropped, overall hours failed, and semesters coursed at the Colombian University. We have anonymized the student data and the school data for NDA purposes.

In [28]:
# usage: from icfes_loader import load_icfes_dataset, load_icfes_subset
# load_icfes_dataset(path)
# load_icfes_subset(n, path)

import pandas as pd
from pathlib import Path

# Explicit column data types (as before)
ICFES_DTYPES = {
    "SCHOOL_ID": "string",
    "PUNT_LECTURA_CRITICA": "float64",
    "PERCENTIL_LECTURA_CRITICA": "float64",
    "PUNT_MATEMATICAS": "float64",
    "PERCENTIL_MATEMATICAS": "float64",
    "PUNT_C_NATURALES": "float64",
    "PERCENTIL_C_NATURALES": "float64",
    "PUNT_SOCIALES_CIUDADANAS": "float64",
    "PERCENTIL_SOCIALES_CIUDADANAS": "float64",
    "PUNT_INGLES": "float64",
    "PERCENTIL_INGLES": "float64",
    "PUNT_GLOBAL": "float64",
    "PERCENTIL_GLOBAL": "float64",
    "semestre": "int64"
}

def load_icfes_dataset(path: str = "anonymized/icfes_combined_anonymized.csv") -> pd.DataFrame:
    """
    Load the full ICFES dataset with correct data types.
    Automatically handles non-numeric values gracefully.
    """
    path = Path(path)

    # Read once without dtype enforcement to avoid header casting errors
    df = pd.read_csv(path, sep=';', low_memory=False)

    # Convert numeric columns safely
    for col, dtype in ICFES_DTYPES.items():
        if col not in df.columns:
            continue  # skip if column missing
        if dtype.startswith("float") or dtype.startswith("int"):
            df[col] = pd.to_numeric(df[col], errors="coerce")
        elif dtype == "string":
            df[col] = df[col].astype("string")

    return df


def load_icfes_subset(n: int, path: str = "anonymized/icfes_combined_anonymized.csv") -> pd.DataFrame:
    """
    Load a subset (first n rows) of the ICFES dataset with correct data types.

    Args:
        n (int): Number of rows to load.
        path (str): Path to the CSV file.

    Returns:
        pd.DataFrame: Subset of dataset.
    """
    path = Path(path)

    # Load CSV without dtype enforcement to avoid conversion errors
    df = pd.read_csv(path, sep=';', low_memory=False, nrows=n)

    # Convert each column safely according to DTYPES
    for col, dtype in ICFES_DTYPES.items():
        if col not in df.columns:
            continue
        if dtype.startswith("float") or dtype.startswith("int"):
            df[col] = pd.to_numeric(df[col], errors="coerce")
        elif dtype == "string":
            df[col] = df[col].astype("string")

    return df

# usage: from student_loader import load_student_dataset, load_student_subset
# load_student_dataset(path)
# load_student_subset(n, path)

# Define the expected data types for each column
STUD_DTYPES = {
    "STUDENT_ID": "string",
    "ADMISSION_TYPE": "string",
    "STUDY_PROGRAM": "string",
    "TEST_SCORE_NEEDED_MAJOR": "float64",
    "ENTRY_TERM": "int64",
    "TEST_SCORE": "float64",
    "TERM_CODE": "int64",
    "TERM_GPA": "float64",
    "OVERALL_GPA": "float64",
    "HOURS_TAKEN": "float64",
    "HOURS_FINISHED": "float64",
    "HOURS_PASSED": "float64",
    "HOURS_FAILED": "float64",
    "HOURS_DROPPED": "float64",
    "SCHOOL_ID": "string",
}

def load_student_dataset(path: str = "anonymized/student_info_anonymized.csv") -> pd.DataFrame:
    """
    Load the full student performance dataset with correct data types.

    Args:
        path (str): Path to the CSV file.

    Returns:
        pd.DataFrame: The dataset with proper column types.
    """
    path = Path(path)

    # Load CSV without dtype enforcement to avoid conversion errors
    df = pd.read_csv(path, sep=';', low_memory=False)

    # Convert each column safely according to DTYPES
    for col, dtype in STUD_DTYPES.items():
        if col not in df.columns:
            continue
        if dtype.startswith("float") or dtype.startswith("int"):
            df[col] = pd.to_numeric(df[col], errors="coerce")
        elif dtype == "string":
            df[col] = df[col].astype("string")

    return df


def load_student_subset(n: int, path: str = "anonymized/student_info_anonymized.csv") -> pd.DataFrame:
    """
    Load a subset (first n rows) of the student dataset with correct data types.

    Args:
        n (int): Number of rows to load.
        path (str): Path to the CSV file.

    Returns:
        pd.DataFrame: Subset of dataset.
    """
    path = Path(path)

    # Load CSV without dtype enforcement to avoid conversion errors
    df = pd.read_csv(path, sep=';', low_memory=False, nrows=n)

    # Convert each column safely according to DTYPES
    for col, dtype in STUD_DTYPES.items():
        if col not in df.columns:
            continue
        if dtype.startswith("float") or dtype.startswith("int"):
            df[col] = pd.to_numeric(df[col], errors="coerce")
        elif dtype == "string":
            df[col] = df[col].astype("string")

    return df

Make sure the `anonymized/` folder is located at the project root (same directory as this notebook) and must contain:
- `icfes_combined_anonymized.csv`
- `student_info_anonymized.csv`

In [39]:
# Load the full ICFES dataset and inspect the rows
icfes_path = "anonymized/icfes_combined_anonymized.csv" # @param {type:"string"}
icfes_df = load_icfes_dataset(icfes_path) # input path to csv file
icfes_df

,SCHOOL_ID,SCHOOL_NAME,PUNT_LECTURA_CRITICA,PERCENTIL_LECTURA_CRITICA,PUNT_MATEMATICAS,PERCENTIL_MATEMATICAS,PUNT_C_NATURALES,PERCENTIL_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PERCENTIL_SOCIALES_CIUDADANAS,PUNT_INGLES,PERCENTIL_INGLES,PUNT_GLOBAL,PERCENTIL_GLOBAL,semestre
0,school_id_0,school_name_0,67.0,78.0,81.0,97.0,76.0,95.0,76.0,94.0,80.0,80.0,377.0,94.0,20171
1,school_id_1,school_name_1,54.0,38.0,50.0,36.0,53.0,38.0,39.0,10.0,52.0,38.0,246.0,30.0,20171
2,school_id_2,school_name_2,59.0,53.0,60.0,58.0,56.0,47.0,61.0,61.0,50.0,35.0,292.0,53.0,20171
3,school_id_3,school_name_3,54.0,38.0,60.0,60.0,59.0,54.0,53.0,40.0,79.0,79.0,291.0,52.0,20171
4,school_id_4,school_name_4,63.0,67.0,63.0,67.0,61.0,59.0,59.0,57.0,78.0,76.0,314.0,64.0,20171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1704617,school_id_1125,school_name_1167,44.0,20.0,38.0,15.0,38.0,13.0,47.0,47.0,38.0,13.0,207.0,20.0,20232
1704618,school_id_1125,school_name_1167,54.0,54.0,48.0,38.0,56.0,71.0,48.0,51.0,56.0,70.0,259.0,55.0,20232
1704619,school_id_7940,school_name_7590,57.0,62.0,61.0,78.0,54.0,66.0,60.0,81.0,52.0,58.0,288.0,73.0,20232
1704620,school_id_7940,school_name_7590,70.0,95.0,73.0,96.0,74.0,100.0,70.0,97.0,64.0,85.0,356.0,98.0,20232
1704621,school_id_11986,school_name_11640,53.0,49.0,43.0,25.0,45.0,35.0,52.0,62.0,40.0,17.0,238.0,40.0,20232

In [40]:
# load student dataset
student_path = "anonymized/student_info_anonymized.csv" # @param {type:"string"}
student_df = load_student_dataset(student_path)
student_df

,ADMISSION_TYPE,STUDY_PROGRAM,TEST_SCORE_NEEDED_MAJOR,ENTRY_TERM,TEST_SCORE,TERM_CODE,TERM_GPA,OVERALL_GPA,HOURS_TAKEN,HOURS_FINISHED,HOURS_PASSED,HOURS_FAILED,HOURS_DROPPED,SCHOOL_ID,SCHOOL_NAME
0,entry_way_0,study_major_0,310,202020,354,202020,3.641765,2.817846,20,17,17,0,3,school_id_10971,school_name_10418
1,entry_way_0,study_major_0,310,202020,354,202110,0.000000,2.817846,23,8,2,6,15,school_id_10971,school_name_10418
2,entry_way_0,study_major_0,310,202020,354,202110,0.000000,2.817846,23,8,2,6,15,school_id_10971,school_name_10418
3,entry_way_0,study_major_0,310,202020,354,202120,0.000000,2.817846,19,6,3,3,13,school_id_10971,school_name_10418
4,entry_way_0,study_major_0,310,202020,354,202120,2.975000,2.817846,19,6,3,3,13,school_id_10971,school_name_10418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163256,entry_way_0,study_major_45,300,202510,345,202510,3.828333,3.828333,12,12,12,0,0,school_id_561,school_name_580
163257,entry_way_0,study_major_44,300,202510,332,202510,4.148000,4.148000,16,16,16,0,0,school_id_2475,school_name_2460
163258,entry_way_0,study_major_15,300,202510,373,202510,4.623750,4.623750,18,18,18,0,0,school_id_625,school_name_12238
163259,entry_way_0,study_major_19,300,202510,370,202510,4.083750,4.083750,17,17,17,0,0,school_id_8396,school_name_8033
163260,entry_way_0,study_major_43,300,202510,348,202510,4.047857,4.047857,16,16,16,0,0,school_id_9370,school_name_12661

In [34]:
import numpy as np
from matplotlib import pyplot as plt

In [ ]:
# PRE-CLEANING VISUALIZATION - SANGWOO

# icfes: GROUP BY SCHOOL_ID
# student: GROUP BY STUDENT_ID

# Scatterplots / Box plots

# For each SCHOOL_ID
#  Plot PUNT_GLOBAL vs. OVERALL_GPA

In [ ]:
# PRE-CLEANING STATISTICS - RICHARD

# For each SCHOOL_ID
#  For each class
#   Avg, Mean, Median score

# For each major
#  Avg, Mean, Median GPA

### Data Cleaning/Preprocess

In [ ]:
# DATA CLEANING - JET

# Replacing null/zero values
# Getting rid of invalid entries

In [ ]:
# MODELS - NICOLAS

# Model initialization
# Parameters/reasoning

## Split Data into Train, Validation, Test Dataset if needed

In [33]:
# TODO: Split Data into Train, Validation, Test Dataset if needed
# Since we have a large dataset, we can use a train/test/validation split. 
# We will experiment with different porportion of train/validation/test split

## Machine Learning Approaches/Models

### Model 1: Linear Regression Model for Classification/Regression?

In [ ]:
from sklearn.linear_model import LinearRegression

### Model 2: Regularization Methods

In [13]:
# Regularization methods
from sklearn.linear_model import Ridge # Ridge Regression: a regularization technique used to reduce model complexity and prevent overfitting, especially when there is multicollinearity (high correlation between independent variables)
from sklearn.linear_model import Lasso # Lasso Regression: another regularization method that performs feature selection by shrinking the coefficients of less important features to exactly zero

### Model 3: Tree-based Methods for Classification/Regression: Decision Tree, Random Forest, Boosted Decision Trees

Classification Task:
- Visualize how the tree recursively partitions the data based on features and their respective split points. Each node represents a decision or a leaf. Internal nodes contain a splitting condition based on a feature and a threshold  e.g. using sklearn's `plot_tree`
- For classification, we could discretize GPA into categories (>3.5, 3.5 to 3.0, 3.0 to 2.5, etc.) and predict these labels. 

Regression Task:
- For regression, we directly predict the numeric GPA value.
- E.g. Regressor on GPA vs previous score.

In [ ]:
# Tree-based regression models for capturing non-linear relationships:
from sklearn import tree
# Decision Tree Regression: Uses a tree-like structure to make decisions and splits the data into subsets to predict a continuous output.
from sklearn.tree import DecisionTreeRegressor 
# Random Forest Regression: An ensemble method that builds multiple decision trees and combines their results to improve accuracy and reduce overfitting compared to a single decision tree
from sklearn.ensemble import RandomForestRegressor # sklearn.ensemble.RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor