In [ ]:
# icfes
from icfes_loader import load_icfes_dataset, load_icfes_subset

icfes_path = "anonymized/icfes_combined_anonymized.csv" 

load_icfes_dataset(icfes_path) # path (str): Path to the CSV file

,SCHOOL_ID,SCHOOL_NAME,PUNT_LECTURA_CRITICA,PERCENTIL_LECTURA_CRITICA,PUNT_MATEMATICAS,PERCENTIL_MATEMATICAS,PUNT_C_NATURALES,PERCENTIL_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PERCENTIL_SOCIALES_CIUDADANAS,PUNT_INGLES,PERCENTIL_INGLES,PUNT_GLOBAL,PERCENTIL_GLOBAL,semestre
0,school_id_0,school_name_0,67.0,78.0,81.0,97.0,76.0,95.0,76.0,94.0,80.0,80.0,377.0,94.0,20171
1,school_id_1,school_name_1,54.0,38.0,50.0,36.0,53.0,38.0,39.0,10.0,52.0,38.0,246.0,30.0,20171
2,school_id_2,school_name_2,59.0,53.0,60.0,58.0,56.0,47.0,61.0,61.0,50.0,35.0,292.0,53.0,20171
3,school_id_3,school_name_3,54.0,38.0,60.0,60.0,59.0,54.0,53.0,40.0,79.0,79.0,291.0,52.0,20171
4,school_id_4,school_name_4,63.0,67.0,63.0,67.0,61.0,59.0,59.0,57.0,78.0,76.0,314.0,64.0,20171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1704617,school_id_1125,school_name_1167,44.0,20.0,38.0,15.0,38.0,13.0,47.0,47.0,38.0,13.0,207.0,20.0,20232
1704618,school_id_1125,school_name_1167,54.0,54.0,48.0,38.0,56.0,71.0,48.0,51.0,56.0,70.0,259.0,55.0,20232
1704619,school_id_7940,school_name_7590,57.0,62.0,61.0,78.0,54.0,66.0,60.0,81.0,52.0,58.0,288.0,73.0,20232
1704620,school_id_7940,school_name_7590,70.0,95.0,73.0,96.0,74.0,100.0,70.0,97.0,64.0,85.0,356.0,98.0,20232
1704621,school_id_11986,school_name_11640,53.0,49.0,43.0,25.0,45.0,35.0,52.0,62.0,40.0,17.0,238.0,40.0,20232

In [5]:
load_icfes_subset(10, icfes_path) # n (int): Number of rows to load.

,SCHOOL_ID,SCHOOL_NAME,PUNT_LECTURA_CRITICA,PERCENTIL_LECTURA_CRITICA,PUNT_MATEMATICAS,PERCENTIL_MATEMATICAS,PUNT_C_NATURALES,PERCENTIL_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PERCENTIL_SOCIALES_CIUDADANAS,PUNT_INGLES,PERCENTIL_INGLES,PUNT_GLOBAL,PERCENTIL_GLOBAL,semestre
0,school_id_0,school_name_0,67,78,81,97,76,95,76,94,80,80,377,94,20171
1,school_id_1,school_name_1,54,38,50,36,53,38,39,10,52,38,246,30,20171
2,school_id_2,school_name_2,59,53,60,58,56,47,61,61,50,35,292,53,20171
3,school_id_3,school_name_3,54,38,60,60,59,54,53,40,79,79,291,52,20171
4,school_id_4,school_name_4,63,67,63,67,61,59,59,57,78,76,314,64,20171
5,school_id_5,school_name_5,63,68,68,79,69,81,63,68,83,84,335,76,20171
6,school_id_6,school_name_6,53,35,50,34,48,27,53,39,49,33,254,34,20171
7,school_id_7,school_name_7,58,51,50,35,61,60,63,67,64,57,292,53,20171
8,school_id_8,school_name_8,65,73,73,89,74,92,63,68,75,72,346,81,20171
9,school_id_9,school_name_9,55,43,58,54,54,42,55,44,57,47,278,46,20171

In [ ]:
from student_loader import load_student_dataset, load_student_subset

student_path = "anonymized/student_info_anonymized.csv" 

load_student_dataset(student_path)

,ADMISSION_TYPE,STUDY_PROGRAM,TEST_SCORE_NEEDED_MAJOR,ENTRY_TERM,TEST_SCORE,TERM_CODE,TERM_GPA,OVERALL_GPA,HOURS_TAKEN,HOURS_FINISHED,HOURS_PASSED,HOURS_FAILED,HOURS_DROPPED,SCHOOL_ID,SCHOOL_NAME
0,entry_way_0,study_major_0,310,202020,354,202020,3.641765,2.817846,20,17,17,0,3,school_id_10971,school_name_10418
1,entry_way_0,study_major_0,310,202020,354,202110,0.000000,2.817846,23,8,2,6,15,school_id_10971,school_name_10418
2,entry_way_0,study_major_0,310,202020,354,202110,0.000000,2.817846,23,8,2,6,15,school_id_10971,school_name_10418
3,entry_way_0,study_major_0,310,202020,354,202120,0.000000,2.817846,19,6,3,3,13,school_id_10971,school_name_10418
4,entry_way_0,study_major_0,310,202020,354,202120,2.975000,2.817846,19,6,3,3,13,school_id_10971,school_name_10418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163256,entry_way_0,study_major_45,300,202510,345,202510,3.828333,3.828333,12,12,12,0,0,school_id_561,school_name_580
163257,entry_way_0,study_major_44,300,202510,332,202510,4.148000,4.148000,16,16,16,0,0,school_id_2475,school_name_2460
163258,entry_way_0,study_major_15,300,202510,373,202510,4.623750,4.623750,18,18,18,0,0,school_id_625,school_name_12238
163259,entry_way_0,study_major_19,300,202510,370,202510,4.083750,4.083750,17,17,17,0,0,school_id_8396,school_name_8033
163260,entry_way_0,study_major_43,300,202510,348,202510,4.047857,4.047857,16,16,16,0,0,school_id_9370,school_name_12661

In [11]:
load_student_subset(10, student_path)

,ADMISSION_TYPE,STUDY_PROGRAM,TEST_SCORE_NEEDED_MAJOR,ENTRY_TERM,TEST_SCORE,TERM_CODE,TERM_GPA,OVERALL_GPA,HOURS_TAKEN,HOURS_FINISHED,HOURS_PASSED,HOURS_FAILED,HOURS_DROPPED,SCHOOL_ID,SCHOOL_NAME
0,entry_way_0,study_major_0,310,202020,354,202020,3.641765,2.817846,20,17,17,0,3,school_id_10971,school_name_10418
1,entry_way_0,study_major_0,310,202020,354,202110,0.000000,2.817846,23,8,2,6,15,school_id_10971,school_name_10418
2,entry_way_0,study_major_0,310,202020,354,202110,0.000000,2.817846,23,8,2,6,15,school_id_10971,school_name_10418
3,entry_way_0,study_major_0,310,202020,354,202120,0.000000,2.817846,19,6,3,3,13,school_id_10971,school_name_10418
4,entry_way_0,study_major_0,310,202020,354,202120,2.975000,2.817846,19,6,3,3,13,school_id_10971,school_name_10418
5,entry_way_0,study_major_0,310,202020,354,202210,3.160000,2.817846,19,3,3,0,16,school_id_10971,school_name_10418
6,entry_way_0,study_major_0,310,202020,354,202219,3.000000,2.817846,6,3,3,0,3,school_id_10971,school_name_10418
7,entry_way_0,study_major_0,310,202020,354,202220,3.020000,2.817846,20,3,3,0,17,school_id_10971,school_name_10418
8,entry_way_0,study_major_0,310,202020,354,202310,1.500000,2.817846,19,2,0,2,17,school_id_10971,school_name_10418
9,entry_way_0,study_major_0,310,202020,354,202319,3.000000,2.817846,9,3,3,0,6,school_id_10971,school_name_10418